<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Edit Closet Items Page</h1>
    <div class="container">
      <form action="/closetswap/<%=item.id%>?_method=PUT" method="POST">
        <label for="type">Type</label>
          <input type="text" name="type" value=<%=item.type%> /> <br>
        <label for="description">Description</label>
          <input type="text" name="description" value=<%=item.description%> /> <br>
        <label for="image">Image</label>
          <input type="text" name="image" value=<%=item.image%> /> <br>
        <label for="brand">Brand</label>
          <input type="text" name="brand" value=<%=item.brand%> /> <br>
        <label for="price">Price</label>
          <input type="number" name="price" value=<%=item.price%> /> <br>
        <label for="size">Size</label>
          <input type="number" name="size" value=<%=item.size%> /> <br>
        Available:
          <input
            type="checkbox"
            name="available"
            <% if (item.available === true ) { %>
              checked
            <% } %>
          /> <br>
        <input type="submit" name="Submit Changes" /> <br>
      </form>
    </div>

    <!-- LINK BACK TO INDEX PAGE  -->
    <nav>
      <a href="/closetswap">Back to Closet Items Page</a>
  </body>
</html>
