<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>CLOSET ITEM INDEX PAGE</h1> <br>
    <h1>Welcome to your closet</h1>
    <!-- ADD LINK FOR CREATE ITEM  -->
    <nav>
      <a href="/closetswap/new">Add your item</a>
    </nav>
<ul>
  <% for (let i = 0; i < items.length; i ++ ) { %>
    <li>
      Type: <a href="/closetswap/<%=items[i].id;%>">
        <%=items[i].type; %>
      </a>
      <br>
      Description: <%=items[i].description%> <br>
      <img src="<%=items[i].img%>"> <br>
      Brand: <%=items[i].brand%> <br>
      Price: <%=items[i].price%> <br>
      Size: <%=items[i].size%> <br>
      <% if (items[i].available === true) { %>
        You are in luck! This item is available!
      <% }  else { %>
        Sorry. This item is unavailable. Check out something else!
      <% } %>
    </li>
    <!-- ADD FORM FOR DELETE BUTTON  -->
    <form action="/closetswap/<%=items[i].id;%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE">
    </form>
    <!-- ADD LINK FOR EDIT ITEM  -->
    <nav>
      <a href="/closetswap/<%=items[i].id;%>/edit">Edit</a>
    </nav>
  <% } %>
</ul>
<!-- log out link disguised as a button using form -->
<form action="/sessions?_method=DELETE" method="POST">
  <input type="submit" value="Log Out">
</form>
  </body>
</html>
